/* CSS Document */

@font-face
{
	font-family: twentyEightDaysLater;
	src: url('../fonts/28_days_later.ttf');
}

@font-face
{
	font-family: mavenProMedium;
	src: url('../fonts/MavenPro-Medium.otf');
}

@font-face
{
	font-family: mavenProBlack;
	src: url('../fonts/MavenPro-Black.otf');
}

@font-face
{
	font-family: helveticaNeue;
	src: url('../fonts/HelveticaNeueLTStd-MdCn.otf');
	font-style:normal;
}

body
{
	margin:0px auto;
	background-color:#05384b;
	text-align: center;
	background-position:center;
        background-image:url(../img/upper-bkg.png),url(../img/bkg.jpg);
        background-repeat: no-repeat,repeat;
}

a
{
	text-decoration: none;
}

header
{
	width:1008px;
	height:108px;
	background-image:url(../img/header-bkg.png);
	margin:0px auto;
}

h1
{
    font-family: twentyEightDaysLater;
    color: #FFF;
    font-size:45px;
}

h2
{
    font-family: twentyEightDaysLater;
    color: #FFF;
    font-size:38px;
}

table
{
    background-color: #C3D332;
    border-radius: 10px;
    margin: auto;
    width: 800px;
    font-family: mavenProMedium;
    border: 1px solid #CCC;
}

fieldset
{
    border-radius: 10px;
    text-align: left;
    font-family: mavenProMedium;
}

p
{
    font-family: mavenProMedium;
}

div.success
{
    width:600px;
    height: 35px;
    color: #FFF;
    font-size: 18px;
    padding-top: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: #C3D332;
    font-family: mavenProMedium;
}

div.error
{
    width:600px;
    height: 35px;
    color: #FFF;
    font-size: 18px;
    padding-top: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: tomato;
    font-family: mavenProMedium;
}

.clear
{
    clear:both;
}

.logo
{
	float:left;
	margin:12px 17px;
}

#vision
{
	background:url(../img/mision_bkg.png) no-repeat;
	float:left;
	width:290px;
	height:78px;
	margin:13px 40px 10px 78px;
}

#vision h2
{
    float: right;
    margin: 45px -10px 5px 0px;
	font-family: twentyEightDaysLater;
	color: #FFF;
	font-size:38px;
}

#vision p
{
    margin: 0px;
    padding: 5px 10px;
    width: 275px;
    position: absolute;
	font-family: mavenProMedium;
	font-size:16.5px;
	text-align:left;
}

#mision
{
	background:url(../img/mision_bkg.png) no-repeat;
	float:left;
	width:290px;
	height:78px;
	margin:13px 10px 12px 5px;
}


#mision h2
{
    float: right;
    margin: 45px -10px 5px;
	font-family: twentyEightDaysLater;
	color: #FFF;
	font-size:38px;
}

#mision p
{
    margin: 0px 0px 0px 3px;
    paddfont-family: mavenProMediuming: 5px 10px;
    width: 260px;
    position: absolute;
	font-family: mavenProMedium;
	font-size:16.5px;
	text-align:left;
}

#content
{
    width:1008px;
    margin:auto;
    height:470px;
    overflow:auto;
}

.area
{
	float:left;
	width:290px;
	margin: 20px 20px 0px;
}


#internacionales
{
	width:400px;
        margin: 20px 70px 0px 90px;
}

.area h1
{
	font-family: twentyEightDaysLater;
	color: #FFF;
	font-size:45px;
	margin: -8px 0px 0px 0px;
	float:left;
	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg); /* IE 9 */
	-webkit-transform: rotate(-5deg); /* Safari and Chrome */
	-o-transform: rotate(-5deg); /* Opera */
	-moz-transform: rotate(-5deg); /* Firefox */
}

.area_title_green
{
	color:#C3D332;
	font-family: mavenProBlack;
	font-size:27px;
	float:left;
    margin: 0px 150px 0px 15px;
}

.photos
{
	background-image:url(../img/photos-bkg.png);
	background-repeat:no-repeat;
	margin: 50px 0px 0px;
	width:290px;
	height:164px;
}

#internacionales .photos
{
	background-image:url(../img/photos-bkg.png);
	background-repeat:no-repeat;
	margin: 50px 0px 0px 70px;
	width:290px;
	height:164px;
}

.photos ul
{
	list-style:none;
	padding:40px 67px 0px;
}

.photos ul li
{
	float:left;
	border: 5px solid #FFF;
	position:absolute;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px; /* IE 9 */
	-webkit-border-radius:5px; /* Safari and Chrome */
	-o-border-radius:5px; /* Opera */
	line-height:0px;
}

.photos ul li img
{
	width: 140px;
	height: 94px;
	
}

.second
{
	z-index:-2;
	margin:0px 0px 0px 20px;
	transform: rotate(5deg);
	-ms-transform: rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Safari and Chrome */
	-o-transform: rotate(5deg); /* Opera */
	-moz-transform: rotate(5deg); /* Firefox */
}

.second img
{
	opacity:1.8;
	background-color:#FFF;
}

.third
{
	z-index:-3;
	margin:0px 0px 0px -20px;
	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg); /* IE 9 */
	-webkit-transform: rotate(-5deg); /* Safari and Chrome */
	-o-transform: rotate(-5deg); /* Opera */
	-moz-transform: rotate(-5deg); /* Firefox */
}

.third img
{
	opacity:.7;
	background-color:#FFF;
}

.fourth
{
	z-index:-4;
	margin:0px 0px 0px 40px;
	transform: rotate(-8deg);
	-ms-transform: rotate(-8deg); /* IE 9 */
	-webkit-transform: rotate(-8deg); /* Safari and Chrome */
	-o-transform: rotate(-8deg); /* Opera */
	-moz-transform: rotate(-8deg); /* Firefox */
}

.fourth img
{
	opacity:.6;
	background-color:#FFF;
}

.fifth
{
	z-index:-5;
	margin:0px 0px 0px -40px;
	transform: rotate(8deg);
	-ms-transform: rotate(8deg); /* IE 9 */
	-webkit-transform: rotate(8deg); /* Safari and Chrome */
	-o-transform: rotate(8deg); /* Opera */
	-moz-transform: rotate(8deg); /* Firefox */
}

.fifth img
{

	background-color:#FFF;
}

footer
{
    border-top: 3px solid #afc241;
    margin:0px auto 0px;
    width: 1008px;
}

footer .encuentranos
{
    float:left;
    padding: 10px;
}

footer .logo
{
    float:right;
}

footer p
{
    color: #fff;
    float:left;
    width:580px;
    text-align: right;
    margin: 20px 0px 0px 20px;
	font-family:helveticaNeue;
	font-size:15px;
}

footer a
{
    color:#FFF;
}

.navbox 
{
    position: absolute;
    left:-99px;
}

ul.nav {
    list-style: none;
    display: block;
    width: 200px;
    position: relative;
    top: 100px;
    left: 100px;
    padding: 60px 0 60px 0;
    background: url(../img/shad2.png) no-repeat;
    background-size: 50% 100%;
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
}

ul.nav li a {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    background: #cbcbcb url(../img/border.png) no-repeat;
    color: #174867;
    padding: 7px 15px 7px 15px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    width: 100px;
    display: block;
    text-decoration: none;
    box-shadow: 2px 2px 4px #888;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
    background: #ebebeb url(../img/border.png) no-repeat;
    color: #67a5cd;
    padding: 7px 15px 7px 30px;
}